body{
    background-color:rgb(191, 154, 123);
}
table{
    background-color: rgb(215, 176, 201);
    border-radius: 10px;
    border-color: black;
    border-style:solid;
    border-width: 10px;
    color:rgba(37, 33, 34, 0.876);
    height:500px;
    width:400px;
    justify-content: center;
    justify-self: center;
    align-self: center;
    padding-left: 10px;
    margin-left:100px;
    margin-top: 50px;
}
h1{
    background-color: rgb(223, 232, 189);
    color:rgba(73, 36, 36, 0.739);
    text-align: center;
}
#input{
    border:black;
}